    body {
      background-color: var(--color2);
      margin: 0px;
      height: 30px;
    }
    header {
      background-color: var(--color1);
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .navBar {
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      padding: 0px 20px 0px 20px;
      flex-direction: row;
    }

    a {
      text-decoration: none;
      color: var(--color5);
      font-size: 20px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    .imgBox img {
      width: 80%;
      border: solid var(--color3) 15px; 
      display: block; 
      margin-bottom: 20px; 
    }

    .imgBox {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .imgDescription {
      width: 90%; 
      padding: 20px;
      border-radius: 30px;
      background-color: var(--color3);
      color: var(--color5);
      text-align: center; 
    }

    .imgSection {
      display: flex;
      flex-direction: column; 
      align-items: center; 
      padding-top: 20px;
    }

    .card {
      display: grid;
      margin-top: 40px;
      grid-template-columns: 1fr;
      width: 250px;
      grid-auto-rows: auto; 
    }
    .card img {
      width: 100%;
      display: block; 
      border-radius: 20px;
      height: 110px;
    }

    .card p {
      background-color: #8b5e58; 
      padding: 10px;
      border-radius: 20px;

    }

    .projectMain {
      display: grid;
      justify-content: center; 
    }

    .footer img {
      width: 30px;

      margin-top: 10px;
    }
    .footer {
      text-align: center;
      justify-content: center;
      background-color: var(--color1);
      gap: 10px;
    }

    .footer .copy p {
      margin-top: 8px;
      font-size: 14px;
      color: #333;
    }



    .footer .footerContact .icon {
      width: 25px;
      vertical-align: middle;
      margin: 0 5px;
    }

    .footerContact {
      padding-top: 20px;
      margin-top: 20px;
    }

    .contactMain {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #8b5e58;
      color: black;
      border-radius: 20px;
      padding: 30px;
      width: 200px;

      margin: 50px auto;
      flex-direction: column; 
    }
    #message {
      height: 50px;
      width: 200px;
      margin: 10px 0px 10px;
    }
    #Email {
      margin: 10px 0px 10px;
    }
    #Last,
    #name {
      grid-column: span 2;
      margin: 10px 0px 10px;
    }
label{
    font-weight: bold;
  color: var(--color5);
  font-size: 16px;
}

p{
  color: white;
}

input,
textarea {
    padding: 10px 15px;
  border: 2px solid var(--color3);
  border-radius: 10px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color2);
  color: var(--color5);
}

    :root {
      --color1: #ddbea8;
      --color2: #f3dfc1;
      --color3: #945d5e;
      --color4: #a77979;
      --color5: #160f29;
    }

    @media screen and (min-width: 768px) {
      .navBar {
        display: flex;
        justify-content: start;
        gap: 60px;
      }
      .navBar a {
        background-color: var(--color3);
        color: white;
        padding: 20px;
        width: 100px;
        text-align: center;
      }

      .imgSection {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 40px;
      }

      .imgBox {
        width: 300px; 
        margin: 0;
      }
      .imgBox img {
        align-items: start;
      }

      .imgDescription {
        width: 20%;
        font-size: 20px;
        margin: 0px;
        margin: 10px 50px;
        text-align: center;
      }

      .projectMain {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px; 
        justify-content: center;
        margin-left: 20px;
      }

      .contactMain {
        width: 600px;
      }
    }

    @media screen and (min-width: 1068px) {
      .projectMain {
        grid-template-columns: repeat(3, 1fr); 
        margin: 0px 0px 0px 120px;
      }
    }
